.nav-tabs{
    /* background-color: rgb(145, 145, 145); */
    color: white
}

.nav-link{
    background-color: #BF3A0D;
    color: white
}

.nav-link:hover{
    background-color: #E8BD21;
    color: #fff;
}

.nav-link:active{
color: #000;

}
