
  @media screen and (min-width: 740px) {
    .bobbyround{
      width: 500;
      height: 500
    }

  }
  
  @media screen and (max-width: 741px) {
     .bobbyround {
        width: 200;
        height: 200
    }
  }