.favorite-btn {
    float: right;
    outline: none

    /* background-color: #e74944; */
}

.favorite-btn:hover {
    color: red; 
    outline: none
    
    /* background-color: #e74944; */
}
  
/* .clicked img{
    background: url(redfavorite.png);
   height: 60px

} */

